.title {
  color: red;
  font-size: 100px;
  height: 100px;
  padding-top: 50px;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.padding {
  padding: 50px;
}
.earthquakeImage {
  flex: 1;
  height: 200px;
  width: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../assets/earthquake.png');
}

.volcanoImage {
  flex: 1;
  height: 200px;
  width: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../assets/volcano.png');
}

.tornadoImage {
  flex: 1;
  height: 200px;
  width: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../assets/tornado.png');
}

.tsunamiImage {
  flex: 1;
  height: 200px;
  width: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../assets/tsunami.png');
}
