.title {
  color: red;
}
.earthquakeImage {
  height: 200px;
  width: 300px;
  background-size: contain;
  background-image: url('./earthquake.jpg');
}

.volcanoImage {
  height: 30vh;
  width: 30vw;
  background-image: url('./volcano.png');
}

.tornadoImage {
  height: 30vh;
  width: 30vw;
  background-image: url('./tornado.png');
}

.tsunamiImage {
  height: 30vh;
  width: 30vw;
  background-image: url('./tsunami.png');
}
