.listTitle {
    color: red;
}
.listItem {
    color: black;
}
.checkBox {
    color:black;
}
.inputTextBox {
    color: black;
}
.timesIcon {
    color: black;
}
.timesIcon:hover {
    cursor: pointer;
}
.addNewButton {
    color:black;
}
.saveButton {
    color:black;
}