.checklistComponent {
  padding: 50px;

  height: 400px;
}
.listTitle {
  font-weight: bold;
  font-size: x-large;
  text-align: center;
  margin: 3% 0;
}
.listTable {
  margin-left: 100px;
  padding: 2% 10%;
  font-size: 30px;
  vertical-align: bottom;
}
.listItem {
  font-size: 30px;
  vertical-align: bottom;
}
.checkSquareIcon {
  color: rgb(162, 224, 147);
}
.inputTextBox {
  resize: none;
  overflow: hidden;
  width: 90%;
  margin: 5px;
  padding: 2px 5px;
  border-radius: 7px;
  border: thin solid rgba(0, 0, 0, 0.336);
}
.timesIcon {
  color: black;
}
.centerItems {
  text-align: center;
}
.addNewButton,
.saveButton {
  margin: 0 3%;
  padding: 2px 5px;
  color: rgb(162, 224, 147);
  background-color: #000;
  border-radius: 7px;
  border: thin solid rgba(0, 0, 0, 0.336);
}
.timesIcon:hover,
.addNewButton:hover,
.saveButton:hover {
  cursor: pointer;
}
