.wrap {
  padding: 30px;
}
.no {
  text-decoration: none;
  padding: 40px;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 30px;
  background-color: #e9e9e9;
  justify-content: space-around;
  padding: 30px;
}

.earthquakeImage {
  background-image: url('../../assets/earthquake.png');
}

.volcanoImage {
  background-image: url('../../assets/volcano.png');
}

.tornadoImage {
  background-image: url('../../assets/tornado.png');
}

.tsunamiImage {
  background-image: url('../../assets/tsunami.png');
}
.firesImage {
  background-image: url('../../assets/fire.png');
}
.industrialAccidentsImage {
  background-image: url('../../assets/indus.png');
}
.landslidesImage {
  background-image: url('../../assets/landslide.png');
}

.oilSpillsImage {
  background-image: url('../../assets/oil.png');
}

.winterWeatherImage {
  background-image: url('../../assets/winter.png');
}

.categoryTitle {
  font-size: 30px;
  color: #2e3439;
  font-weight: 900;
  opacity: 0.7;
  padding: 10px;
}
